* {
    margin: 0;
    padding: 0;
}

/* 
    display: flex -> Habilitar o flex para centralização dos elementos
*/
body {
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, rgb(0, 87, 218), blue);
    height: 100vh;
    padding: 20px;
}

.quadra {
    position: relative;
    width: 90%;
    max-width: 600px;
    height: 400px;
    background-color: rgb(252, 193, 116);
    border-radius: 12px;
    margin: auto;
}

.bola {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: radial-gradient(circle at 30% 30%, #ffa726, #ef6c00);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    animation: arremesso 3s ease-in-out infinite;
    z-index: 2;
}

.bola .linha-diagonal1,
.bola .linha-diagonal2 {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: black;
    top: 50%;
}

.bola .linha-diagonal1 {
    transform: rotate(45deg);
}

.bola .linha-diagonal2 {
    transform: rotate(-45deg);
}

.cesta {
    position: absolute;
    margin-top: 30px;
    right: 40px;
    top: 40px;
    width: 100px;
    height: 80px;
}

.aro-frente {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to bottom, rgb(240, 117, 73), rgb(196, 79, 36));
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.rede {
    position: absolute;
    top: 10px;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.rede div {
    width: 80%;
    height: 2px;
    background-color: white;
    border-radius: 1px;
    transform-origin: center top;
}

.rede div:nth-child(1) {
    transform: rotate(15deg);
}
.rede div:nth-child(2) {
    transform: rotate(-10deg);
}
.rede div:nth-child(3) {
    transform: rotate(10deg);
}
.rede div:nth-child(4) {
    transform: rotate(-15deg);
}

.suporte {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 8px;
    height: 80px;
    background-color: brown;
    border-radius: 8px;
}

@keyframes arremesso {
    0% { left: 0; bottom: 20px; transform: rotate(0deg);}
    60% { left: 80%; bottom: 335px; transform: rotate(216deg);} /* topo aro */
    100% { left: 90%; bottom: 20px; transform: rotate(360deg);}
}
