<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primeira aula de CSS</title>

    <link rel="stylesheet" href="/aula_1/index.css">

    <style>
        #natal {
            color: red
        }
    </style>
</head>
<body>
    <!-- Foi descontinuado -->
    <center>
        <p style="color: brown;">Feliz Natal!</p>
    </center>

    <p id="natal">HOHOHO</p>
    <p class="mafalda">Vovó Mafalda</p>

    <div>Feliz Natal!</div>
    <div>Feliz Páscoa!</div>
</body>
</html>
