h1 {
    font-size: 40px;
    color: transparent;
    background-image: linear-gradient(red, blue);
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 2px 2px 8px blueviolet;
}

.cor-vemelho {
    width: 100%;
    height: 40px;
    background-color: red;
    margin-bottom: 20px;
    /* box-shadow: 5px 5px 5px 5px red; */
    opacity: 0.6;
    border-radius: 2px 2px 5px 5px;
}

.cor-laranja {
    width: 80%;
    height: 10px;
    background-color: rgb(246, 124, 0);
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 5px rgb(246, 124, 0);
    opacity: 0.6;
    border-radius: 10px;
}

.cor-amarelo {
    width: 60%;
    height: 10px;
    background-color: yellow;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 5px yellow;
    opacity: 0.6;
    border-radius: 10px;
}

.cor-verde {
    width: 40%;
    height: 10px;
    background-color: green;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 5px green;
    opacity: 0.6;
    border-radius: 10px;
}

.cor-azul {
    width: 30%;
    height: 10px;
    background-color: blue;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 5px blue;
    opacity: 0.6;
    border-radius: 10px;
}

.cor-anil {
    width: 20%;
    height: 10px;
    background-color: rgb(1, 1, 107);
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 5px rgb(1, 1, 107);
    opacity: 0.6;
    border-radius: 10px;
}

.cor-violeta {
    width: 10%;
    height: 10px;
    background-color: rgb(128, 2, 212);
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 5px rgb(128, 2, 212);
    opacity: 0.6;
    border-radius: 10px;
}