.div {
    width: 600px;
    height: 100px;
    margin-bottom: 20px;
    background-color: brown;
    transition: width 2s;
}

.div:hover {
    width: 150px;
}

.div1 {
    transition-timing-function: linear;
}
.div2 {
    transition-timing-function: ease-in;
}
.div3 {
    transition-timing-function: ease-out;
}
.div4 {
    transition-timing-function: ease-in-out;
}