.logo {
    width: 200px;
    height: 200px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/200px-React-icon.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    border: 2px solid #ccc;
}

img {
    max-width: 100%;
    height: auto;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .logo {
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuHnJDLOcdm_0b6N6kNj-1OvO9KhKYgqIy0w&s");
    }
}