.desktop  {
    display: none;
}

/* @media (min-width: 768px) {
    .desktop {
        display: block;
        color: brown;
    }
}

@media (max-width: 768px) {
    .desktop {
        display: block;
        color: brown;
    }
} */

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .desktop {
        display: block;
        /* color: brown; */
    }
}