body {
    /* background-image: url("https://i.pinimg.com/236x/0b/c8/e5/0bc8e51164e83ec3b66445e819d7ceb8.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; */
    /* background-size: 100px; */
    /* background-size: 50%; */
}

/* img {
    width: 100%;
} */

#grad1 {
    height: 400px;
    background-image: linear-gradient(rgb(8, 8, 8), rgb(255, 0, 0));
}

/* img {
    width: 300px;
    height: 400px;
} */

.natal {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div {
    height: 100px;
    border: 6px solid rgb(3, 231, 14);
    margin: 10px;
    /* padding: 20px; */
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 5px;
}