/* .corTextoAvo {
    color: blue;
}

.corTextoPai {
    color: rgb(193, 196, 42);
}

.corTitulo {
    color: rgb(6, 179, 121);
} */

/* Combinadores descendentes */
/* div h1 {
    color: blue;
} */

/* > Combinadores descendentes diretos */
/* div > p {
    color: blue;
} */

/* ~ Combinadores de irmãos */
/* h2 ~ p {
    color: royalblue;
} */

/* + Combinadores de irmãos adjacente*/
/* h2 + p {
    color: rgb(38, 192, 0);
} */

p {
    background-color: red;
}

/* Pseudo-classes */

a:visited {
    /* color:  rgb(0, 247, 227); */
    color:  #2fdf03;
}

a:hover {
    background-color:  green;
    
}

a:active {
    background: yellowgreen;
}

/* Pseudo Elemento */

h2::before {
    content: url(https://i.pinimg.com/236x/73/9d/9d/739d9db627f6bcd59b737e1f9ef5191f.jpg);
}

h2::after {
    content: url(https://i.pinimg.com/236x/73/9d/9d/739d9db627f6bcd59b737e1f9ef5191f.jpg);
}

.texto::first-line {
    text-transform: uppercase;
}

.texto::first-letter {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
}